body{
/*    background-color: antiquewhite;*/
}
header {
/*    display: none;*/
    position: absolute;
    width: 100%;
    background: #092043;

}
.headTop {
/*    display: none;*/
    position: relative;
    width: 100%;
    height: 100px;
    /*    background-color: antiquewhite;*/
    z-index: 9997;
}

.headTop .headTopLogo {
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

.search2 {
    display: none;
}

.search {
    position: absolute;
    z-index: 9999;
    right: 80px;
    top: 30px;
}

.search > input {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    height: 30px;
    width: 240px;
    color: white;
    font-size: 13px;

}

.search > label {
    /*    position: absolute;*/
    color: white;
    right: 0;
    font-size: 13px;
    width: 240px;
    line-height: 30px;
}

.searchBtn {
    position: absolute;
    right: 0;
    top: 0;
}



#menu {
    position: fixed;
    overflow: hidden;
        width: 645px;
    left: -100%;
    z-index: 9999 !important;
     background: rgba(0, 0, 0, 0.8);
   
}

.wrap{
    overflow: hidden;

    background-color: aqua;
  
}

#nav {
    position: absolute;
    z-index: 9999;
    top: 100px;
    left: 80px;
    width: 100%;
    height: 60vh;
    overflow: hidden;
overflow-y: scroll;
/*    background-color: aqua;*/
}

#nav a {
    color: white;
}

#nav > li {

    /*display: block;    */
    padding: 0;
    font-size: 20px;

    /*    background-color: aqua;*/

}

#nav > li > a {
    /*background-color:aqua;*/
    line-height: 3;
}

#nav > li:hover > a,
#nav > li.active > a,
.sub > li:hover > a,
.sub > li.active > a {
    color: bisque;
}

.sub {
    display: none;
/*    width: 60%;*/
    margin-left: 50px;
}

.sub > li {
    width: 40%;
    display: inline-block;
    /*    background-color: antiquewhite;*/
}

.sub > li > a {
    font-size: 16px;
    line-height: 4;
    font-weight: 300;
}

.menuAd {
    position: absolute;
    /*    background-color: aqua;*/
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    z-index: 9999;
    width: 80%;
}
.menuAd img{
    width: 100%;
}
.hamBtn {
    position: absolute;
    z-index: 99999;
    left: 80px;
    top: 30px;
}

.hamBtn > a {
    display: block;
    background-size: cover;
    background-image: url(../images/btn_menu.png);
    width: 30px;
    height: 30px;
}

.hamBtn > a.close {
    background-size: cover;
    background-image: url(../images/btn_close.png);
    background-repeat: no-repeat;

}

#contents {
    padding-top: 150px;
    padding-bottom: 80px;
    background: #092043;
/*    display: none;*/
}

#contents h2 {
    font-size: 38px;
    color: white;
    margin-bottom: 30px;
}

#contents p {
    color: white;
}

.mapSub {
    font-size: 20px;
    margin-bottom: 70px;
    word-break: keep-all;
}

.conceptImg {
    margin-bottom: 55px;
}

.conText {
    line-height: 2.2;
}

.mapWrap {
    position: relative;
}

#map {
    width: 60vw;
    height: 600px;
    margin: 40px auto;
}

.store {
    position: absolute;
    top: 40px;
    left: 18vw;
    background: #f8f8f8;
    width: 315px;
    height: 530px;
    z-index: 999;
    padding: 30px;
    box-sizing: border-box;
    color: #3e3e3e;
    font-size: 15px;
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}


.store h2 {
    position: relative;
    color:#3e3e3e;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;

    
   
}
.store h2>span{
    display: none;
}
.seoul h2>span{
    display: inline-block;
}
.store .ad {
    font-size: 15px;
}

.store .ad2 {
    font-size: 14px;
    padding-bottom: 10px;
}

.store .call {
    padding-bottom: 10px;
}

.store h3 {
    padding-bottom: 10px;
    font-weight: bold;
}

.store > .seoul {
    margin-bottom: 30px;
   
}

.store .car {
    font-size: 13px;
    padding-top: 10px;
}
/*footer*/
footer {
    background: #38393b;

}

.footLogo {

    padding-top: 70px;
    margin: 0 auto;
    width: 180px;

}

.footLogo img {
    width: 100%;
    height: 100%;
}

.footMenu {
    width: 430px;
    margin: 52px auto 0;
}

.footMenu > li {
    float: left;
    margin: 0 5px;
}

.footMenu > li > a {
    font-size: 14px;
    color: white;
}
address {
    padding: 73px 0 50px 0;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
}

.topBtn {
    position: fixed;
    z-index: 9999999;
    bottom: 50px;
    right: 40px;
}


@media screen and (max-width:1024px){
     #menu {
        position: fixed;
        overflow: hidden;
        width: 80%;
        left: -100%;
        z-index: 10000;

    }
    .store {  
    top: 40px;
    left: 0;
    
}
    #map{
        width: 80vw;
    }
    
}
@media screen and (max-width:991px) {
    header {
     
    }
  .search {
        right: 20px;
    }
}
@media screen and (max-width:767px){
       .search {
        display: none;
    }

    .search2{
        display: block;
        position: absolute;
        z-index: 999999;
        bottom: 19vh;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
          border-bottom: 1px solid white;
        width: 80%;
        color: white;
/*        background-color: aqua;*/
    }

    .search2 > label {
        position: absolute;
        color: white;
        left: 80px;
        bottom: 0;
        margin-bottom: 10px;
    }

    .search2 > input {
        position: absolute;
        background: none;
        border: none;
        width: 60%;
        font-size: 18px;
        bottom: 10px;
        left: 80px;

        color: white;

    }

    .search2 .searchBtn2 {
        position: absolute;
        left: 10px;
        bottom: 10px;


    }

    .hamBtn {
        position: absolute;
        z-index: 10001;
        left: 20px;
        top: 30px;
    }

.hamBtn > a {
    display: block;
    background-size: cover;
    background-image: url(../images/btn_menu.png);
    width: 25px;
    height: 25px;
}
    #menu {
        width: 100%;
    }
    #nav {
    top: 60px;
        left: 40px;
   
}
    #nav > li{
        font-size: 16px;
    }
    
 #nav > li > a {
    /*background-color:aqua;*/
    line-height: 3;
}
   #contents h2 {
    font-size: 28px;
margin-bottom: 10px;
  
} 
  .mapSub {
    font-size: 18px;
    margin-bottom: 20px;
}  
   .conceptImg {
    margin-bottom:0;
} 
    .conText {
  display: none;
}
    
    .store {
    position: absolute;
    top: -120px;
    left: 0;
    width:100%;
    height:300px;
  padding: 10px;
   
}
    .store>div{
/*
        width: 50%;
        float: left;
*/
    }
    #map{
/*        top:100px;*/
        margin-top: 120px;
    }


.store h2 {
    color:#3e3e3e;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.store .ad {
    font-size: 15px;
}

.store .ad2 {
    font-size: 14px;
    padding-bottom: 10px;
}

.store .call {
    padding-bottom: 10px;
}

.store h3,
 .store .time{
/*
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
*/
    display: none;
}

.store > .seoul {
    margin-bottom: 30px;
   
}

.store .car {
 display: none;
}
     .footMenu{
/*      margin: 30px auto 0;*/
     display: none;
     
    }

    .footLogo {
    padding-top: 40px;
    margin: 0 auto;
    width: 100px;
}
    address{
        padding:50px 0 50px 0;
        font-size: 12px;
    }
    
}
@media screen and (max-width:525px) {
    .container {
        width: 100%;
    }
    .search2 > label {
        font-size: 14px;
    }

    .search2 > input {
        font-size: 14px;
    }

    .sub > li {
        display: block;
        width: 100%;
    }

    .sub > li > a {
        line-height: 3;
    }
}
@media screen and (max-width:400px) {

}